# PYTHON

# The prints functions prints a message to the screen

In [2]:
print ('hello world')

hello world

# Data Types

data types are particular types of data using in the python. e.g integer and float, sring etc.

#  number
integer and float

In [6]:
type (1)

int

In [5]:
type (2.3)

float

# MATH OPERATOR
JUST LIKE ON EXCEL, YOU CAN PERFORM MATH OPERATIONS IN PYTHONS.
ADDITIONS +
SUBTRACTIONS -
MULTIPLICATIONS *
DIVISSION /
EXPONENTS **
REMINDER %
INTEGER DIVISSION //

In [7]:
5+4

9

In [1]:
3+6

9

In [8]:
5*4

20

In [9]:
5-4

1

In [10]:
10/2

5.0

In [2]:
2**5

32

In [3]:
3**4

81

In [12]:
7%4

3

In [13]:
8//5

1

In [1]:
11//5

2

# BOOLEAN
BOOLEAN (BOOL): TRUE/FALSE

In [15]:
type (True)

bool

In [17]:
type (False)

bool

# STRING
IT REPRESENTS TEXT IN PYTHON

In [19]:
type ('Heloo world')

str

# METHODS OF STRING
WE CAN APPLY DIFFERENT FUNCTIONS TO OUR TEXT IN EXCEL. AS WELL AS IN PYTHON WE APPLY DIFFERENT METHODS TO OUR STRING SUCH AS UPPER, LOWER, TITLE (PROPER IN EXCEL) ETC.

In [42]:
#How to convert text to capital letter
print('wasiu razak'.upper())

WASIU RAZAK

In [4]:
# convert text to capital letter
print('tunde yinka'.upper())

TUNDE YINKA

In [43]:
#how to convert string to lower 
print('saheed fatai'.lower())

saheed fatai

In [5]:
# convert string to lower
print('luku musa'.lower())

luku musa

In [7]:
#how to give string a proper  
print('akeem rafiu'.title())
print('ibrahim alade'.title())

Akeem Rafiu
Ibrahim Alade

In [9]:
#how to count letters in a string
print('ameenat wahab'.count('e'))
print('tajudden'.count('d'))

2
2

In [10]:
#how to replace letter in a string
print('ameenat wahab'.replace('e','u'))
print('khadeejat saleem'.replace('e', 'i'))

amuunat wahab
khadiijat saliim

# VARIABLES
IT IS RESERVED AND SYMBOLIC MEMORY TO STORE DATA. IT WILL GIVE US OPPORTUNITY TO REFER TO THE NAME WITH AID OF ASSIGNED SYMBOL.

In [12]:
n = 300
print(n)
x = 200
y = 50
print (x+y)

300
250

In [35]:
NUM1 = input('PLEASE ENTER THE FIRST NUMBER')
NUM2 = input('PLEASE ENTER THE SECOND NUMBER')
SUM = int(NUM1) + int(NUM2)
print('THE SUM IS:',SUM)

PLEASE ENTER THE FIRST NUMBER5
PLEASE ENTER THE SECOND NUMBER6
THE SUM IS: 11

In [ ]:
x = input('please enter first integer')
y= input('please enter second integer')
sum=int(x) + int(y)
ave= sum/2
print ('the sum is:', sum)
print ('the average is:', ave)

In [41]:
x= input('please enter the first integer')
y=input('please enter the second integer')
product=int(x) * int(y)
print('the product of int x and int y is:', product)

please enter the first integer3
please enter the second integer4
the product of int x and int y is: 12

In [49]:
x=input('please enter first integer')
y=input('please enter second integer')
z=input('please enter third integer')
difference=int(x) -int(y) - int(z)
print('the difference is:',difference)

please enter first integer20
please enter second integer5
please enter third integer4
the difference is: 11

In [51]:
x=input('please enter first integer')
y=input('please enter second integer')
quotient=int(x)/int(y)
print('the quotient of the two integers is;',quotient)

please enter first integer20
please enter second integer4
the quotient of the two integers is; 5.0

# STRING CONCATENATE
IT IS A WAY OF COMBINING OR JOINING TWO STRINGS TOGETHER IN PYTHON.

In [5]:
firstname= "kamilu"
lastname= "musa"
fullname =firstname + " " + lastname
print (fullname)
firstname= "azeez"
lastname= "razak"
fullname =firstname + lastname
print (fullname)

kamilu musa
azeezrazak

# LIST
IT IS USED TO STORE MULTIPLE ITEMS IN A SINGLE VARIABLE. LISTS ARE ORDERED OR MUTABLE CONTAINERS.

In [6]:
countries = ['United Kingdom','China','India','Togo', 'Chad']
print(countries)

['United Kingdom', 'China', 'India', 'Togo', 'Chad']

# INDEXING
IT IS USED TO OBTAIN A LIST OF ELEMENT BY ITS POSITION.

In [8]:
countries = ['United Kingdom','China','India','Togo', 'Chad']
print(countries[2])
print(countries[3])

India
Togo

# SLICING
IT IS USED TO GET OR ACCESS PART OF THE A LIST. A SLICE IS A SUBSET OF OF LIST ELEMENT.

In [16]:
#start from zero and end at two
countries = ['United Kingdom','China','India','Togo', 'Chad']
print(countries[0:3])

['United Kingdom', 'China', 'India']

In [9]:
# select first 3 names and first 2 names
countries
print(countries[:3])
print(countries[:2])

['United Kingdom', 'China', 'India']
['United Kingdom', 'China']

# LIST OPERATIONS AND METHODS
IT IS THE WAY OR METHODS TO ADD NEW ELEMENT, REMOVE, UPDATE AND SO ON.

In [21]:
# APPEND: ADD NEW COUNTRY TO THE LIST

countries = ['United Kingdom','China','India','Togo', 'Chad']
countries.append('Canada')
countries

['United Kingdom', 'China', 'India', 'Togo', 'Chad', 'Canada']

In [22]:
countries = ['United Kingdom','China','India','Togo', 'Chad']
countries.append('Canada')
countries.append('Ghana')
countries.append('Niger')
countries

['United Kingdom',
 'China',
 'India',
 'Togo',
 'Chad',
 'Canada',
 'Ghana',
 'Niger']

In [23]:
# insert: add a new element to a specific position
countries = ['United Kingdom','China','India','Togo', 'Chad']
countries.insert(0,'Canada')
countries

['Canada', 'United Kingdom', 'China', 'India', 'Togo', 'Chad']

In [24]:
# joining list together by using + operators
countries2 = ['United Kingdom','China','India','Togo', 'Chad']
countries1 = ['sudan', 'kenya', 'uganda', 'Japan']
countries1 + countries2

['sudan',
 'kenya',
 'uganda',
 'Japan',
 'United Kingdom',
 'China',
 'India',
 'Togo',
 'Chad']

# REMOVING ELMENT
IT IS THE WAY OR PROCESS OF DELETING A ELEMENT FROM THE LIST.SUCH AS 'DOT REMOVE', 'POP', AND 'DELETE'.

In [36]:
# dot remove
countries = ['United Kingdom','China','India','Togo', 'Chad']
print(countries)
countries.remove('China')
print(countries)

['United Kingdom', 'China', 'India', 'Togo', 'Chad']
['United Kingdom', 'India', 'Togo', 'Chad']

In [38]:
# pop
countries = ['United Kingdom','China','India','Togo', 'Chad']
countries.pop(3)
print(countries)

['United Kingdom', 'China', 'India', 'Chad']

# delete

In [49]:
countries = ['United Kingdom','China','India','Togo', 'Chad']
del countries[1]
print(countries)

['United Kingdom', 'India', 'Togo', 'Chad']

# UPDATING
USING INDEXING TO TO LOCATE THE ELEMENT AND SET IT TO A NEW VALUE BY USING THE = SIGN.

In [51]:
animals = ['Cat', 'Lizard', 'Rabbit', 'Hen']
animals[1] = 'Fish'
animals

['Cat', 'Fish', 'Rabbit', 'Hen']

In [ ]:
# SORTING OF THE LIST
IT IS THE PROCESS OF ARRANGING ELEMENT IN ASCENDING ORDER

In [45]:
numbers = [3, 4, 5, 1, 2, 7, 9, 6, 8]
numbers.sort()
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# arrange in decending order
wild = ['snake', 'lizard', 'torties', 'rabit', 'monkey', 'dog', 'cat']
wild.sort(reverse=True)
wild

['torties', 'snake', 'rabit', 'monkey', 'lizard', 'dog', 'cat']

# DICTIONARY
IN PYTHON, DICTIONARY HELPS TO STORE DATA IN KEY: VALUE PAIRS (ONE PAIR IS CALLED ITEM). LIKE LUIST, DICTIONARY AE MUTABLE BUT UNLIKE LIST, DICTIONARY ISNT ACCESSED VIA KEY, AND DUPLICATE KEYS ARE NOT AVAILABLE.

In [61]:
mydata = {'name':'wasiu', 'age':30, 'Salary':20000, 'Role':'Accountant'}
mydata['Role']

'Accountant'

In [56]:
# to bring out all keys
mydata.keys()

dict_keys(['name', 'age', 'Salary', 'Role'])

In [57]:
# to bring out all values
mydata.values()

dict_values(['wasiu', 30, 20000, 'Accountant'])

In [58]:
# to bring out both keys and values
mydata.items()

dict_items([('name', 'wasiu'), ('age', 30), ('Salary', 20000), ('Role', 'Accountant')])

#  ADDING AND UPDATING IN DICTIONARY

In [63]:
mydata = {'name':'wasiu', 'age':30, 'Salary':20000, 'Role':'Accountant'}

In [64]:
mydata['height']=1.8

In [65]:
mydata

{'name': 'wasiu',
 'age': 30,
 'Salary': 20000,
 'Role': 'Accountant',
 'height': 1.8}

In [66]:
mydata.update({'height':1.9, 'languages':['english','spanish']})

In [67]:
mydata

{'name': 'wasiu',
 'age': 30,
 'Salary': 20000,
 'Role': 'Accountant',
 'height': 1.9,
 'languages': ['english', 'spanish']}

# how to clear data in python dictionary

In [68]:
mydata = {'name':'wasiu', 'age':30, 'Salary':20000, 'Role':'Accountant'}
mydata.clear()

In [69]:
mydata

{}

# IF STATEMENT
IT IS A CONDITIONAL STATEMENT USED TO DECIDE WHETHER A STAEMENT (OR BLOCK OF STATEMENTS) WILL BE EXECUTED. it is more or less if function in excel.

In [4]:
age = int(input('Please Enter a number'))
if age>18:
            print('You are eligible to vote')
else:      
            print('Wait for your time')

Please Enter a number12
Wait for your time

In [5]:
age = int(input('please enter your age'))
if age>25:
    print('selected')
else:
    print('rejected')

please enter your age18
rejected

In [7]:
countries = ['united kingdom', 'india','china', 'brazil']
if 'china' in countries:
    print('included')
else: 
    print('excluded')

included

# Types of Operators

In [ ]:
#  COMPARISON OPERATORS
EQUAL TO: ==
DIFFERENT: !=
GREATER THAN: >
LESSTHAN: <
GREATER THAN OR EQUAL TO: >=
LESSTHAN OR E3QUAL TO: <=

# BOOLEAN OPERATOR
AND
OR
NOT

# FOR LOOP
IT ALLOWS TO LOOP THROUGH LISTED ITEMS OR OBJECTS (E.G LIST, DICTIONARY) AND PERFORM THE SAME ACTION TO EACH ELEMNT

In [8]:
for country in countries:
    print(country)

united kingdom
india
china
brazil

In [9]:
for country in countries:
    if country== 'brazil':
        print(country)

brazil

# FUNCTIONS
BUILT-IN FUNCTIONS
PYTHON HAS ALOLT OF BUILT-IN FUNCTION THAT CAN HELP US PERFORM A SPECIFIC TASK.LET US HAVE A LOOK AT THE MOST COMMON OF THEM.
RANGE()
LEN()
MAX()
MIN()
ROUND()
TYPE()

# HOW TO CREATE A FUNCTION
THIS IS ABILITY TO CREATE PERSONAL OR INDEPENDENT FUNCTION.

In [11]:
def printname():
    print("musa")
printname()

musa

In [28]:
def sum(a,b,c):
    x=a+b+c
    return x
sum(1,2,3)

6