# Analyze A/B Test Results
This project will assure you have mastered the subjects covered in the statistics lessons.
The hope is to have this project be as comprehensive of these topics as possible. Good luck!

In [1]:
import pandas as pd
import numpy as np
import random
import matplotlib.pyplot as plt

In [2]:
# read in the ab_data.csv data. store it in AB.
# read in the dataset and take look at the top few rows
AB = pd.read_csv('ab_data.csv')

In [3]:
AB

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
294473   751197  2017-01-03 22:28:38.630509    control     old_page          0
294474   945152  2017-01-12 00:51:57.078372    control     old_page          0
294475   734608  2017-01-22 11:45:03.439544    control     old_page          0
294476   697314  2017-01-15 01:20:28.957438    control     old_page          0
294477   715931  2017-01-16 12:40:24.467417  treatment     new_page          0

[294478 rows x 5 columns]

In [4]:
AB = pd.read_csv('ab_data.csv')
AB.head()

   user_id                   timestamp      group landing_page  converted
0   851104  2017-01-21 22:11:48.556739    control     old_page          0
1   804228  2017-01-12 08:01:45.159739    control     old_page          0
2   661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3   853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4   864975  2017-01-21 01:52:26.210827    control     old_page          1

In [5]:
# determine the number of rows
AB.shape[0]

294478

In [6]:
# determine the number of columns
AB.shape[1]

5

In [7]:
# determine the unique value. 
# this means to remove all values appeare more than one 
AB['user_id'].nunique()

290584

In [8]:
# determine the proportion(mean) of users converted
AB['converted'].mean()

0.11965919355605512

In [12]:
# determine the number of times that new_page and treatment are not showing together
# determine exclusive OR ('^') 
# returns True if one of the two conditions is True, but not both
((AB['group'] =="treatment") ^ (AB['landing_page'] == "new_age")).sum()

147276

In [10]:
# does any row has  missing value
AB.isnull().any()

user_id         False
timestamp       False
group           False
landing_page    False
converted       False
dtype: bool

# 2. For the rows where treatment is not aligned with new_page or control is not aligned with old_page, we cannot be sure if this row truly received the new or old page. Use Quiz 2 in the classroom to provide how we should handle these rows.

a. Now use the answer to the quiz to create a new dataset that meets the specifications from the quiz. Store your new dataframe in df2.

In [11]:
# get indices where group does correctly aligned with landing_page
AB_idx = ((AB['group'] == "control") ^ (AB['landing_page'] == "old_page")) | \
          ((AB['group'] == "treatment") ^ (AB['landing_page'] == "new_page"))

# filter the dataframe by the filter indices
AB = AB.loc[AB_idx]
AB.head()

     user_id                   timestamp      group landing_page  converted
22    767017  2017-01-12 22:58:14.991443    control     new_page          0
240   733976  2017-01-11 15:11:16.407599    control     new_page          0
308   857184  2017-01-20 07:34:59.832626  treatment     old_page          0
327   686623  2017-01-09 14:26:40.734775  treatment     old_page          0
357   856078  2017-01-12 12:29:30.354835  treatment     old_page          0